# some commands
OPENSSL=`which openssl`
KEYTOOL=`which keytool`
JAVA=`which java`

SERVERS_SRC=$SSL_DIR/servers.source

# some directories
BIN_DIR=$SSL_DIR/bin
CA_DIR=$SSL_DIR/ca
CSR_DIR=$SSL_DIR/csr
CERT_DIR=$SSL_DIR/crt
CONF_DIR=$SSL_DIR/conf
DB_DIR=$SSL_DIR/db

# own scripts
CREATE_CRT=$BIN_DIR/createcrt
CREATE_KEYSTORE=$BIN_DIR/createkeystore

# file extension for PEM certificates
EXT="pem"
KEY_EXT="key"

KEYSTORE_EXT="jks"

# password file for all certificates and keystores
PASSWORD_FILE=$CONF_DIR/passwd

# tool for indexing the certificates in the plain text db
UPDATE_INDEX=$SSL_DIR/bin/update-index.pl

# java class for creating the keystores with private keys
IMPORT_KEY=ImportKey

# some file name definitions for the CA
CA_KEY=$CA_DIR/$ENVIRONMENT/internal-truststore.key
CA_CSR=$CSR_DIR/$ENVIRONMENT/internal-truststore.csr
CA_CRT=$CA_DIR/$ENVIRONMENT/internal-truststore.$EXT
CA_KEYSTORE=$CA_DIR/$ENVIRONMENT/internal-truststore.jks
CA_ALIAS="Your Company CA Internal"
CA_CONFIG=$CONF_DIR/ca.config
CA_EXT=$CONF_DIR/ca.ext
CA_SERIAL=$DB_DIR/$ENVIRONMENT/ca.serial
CA_DB=$DB_DIR/$ENVIRONMENT/index.txt
# lifetime of the CA certificate
CA_DAYS=730

SERVER_CERT_CONFIG_TPL=$CONF_DIR/server.tpl
SERVER_CERT_EXT=$CONF_DIR/server.ext
SERVER_CONFIG_DIR=$CONF_DIR/server
SERVER_FILENAME_CERT_TYPE="servercert"

CLIENT_CERT_CONFIG_TPL=$CONF_DIR/client.tpl
CLIENT_CERT_EXT=$CONF_DIR/client.ext
CLIENT_CONFIG_DIR=$CONF_DIR/client
CLIENT_FILENAME_CERT_TYPE="clientcert"

# lifetime of the certificate
CERT_DAYS=730
